@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Tapestry&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;



}
header .logoimg
{
	width: 150px;
	height: 100px;
	position: relative;
	max-width: 150px;

	
}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	list-style: none;
}
header ul li a
{
	display: inline-block;
	color: #333;
	font-weight: 900;
	margin-left: 40px;
	text-decoration: none;

}
header ul li a:hover
{
	color: #612d1c;
	border-bottom: 1px solid;
  
}


.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .textBox
{
	position: relative;
	max-width: 500px;
}
.content .textBox h2
{
	color: #333;
	font-size: 2.5em;
	line-height: 1.4em;
	font-weight: 500;
	padding-top: 20px;
	padding-bottom: 20px;
}
.content .textBox h2 span
{
	color: #612d1c;
	font-size: 1.2em;
	font-weight: 900;
}
.content .textBox a
{
	display: inline-block;
	margin-top: 40px;
	padding: 8px 20px;
	background: #fde7a1;
	color: #333;
	border-radius: 40px;
	font-weight: 900;
	letter-spacing: 1px;
	text-decoration: none;
}
.content .textBox a:hover
{
	 background-color: #612d1c;
  color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.content .imgBox
{
	width: 600px;
	display: flex;
	justify-content: center;
	
}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-section {margin-top:16px!important;margin-bottom:16px!important}

.mySlides
{
width: 600px;
height: 399px;
 
 
}

.mySlides img
{
  width: 100%;
  height: 100%;
object-fit: fill;
overflow: hidden;

}

.sci
{
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	display: inline-block;
	margin: 5px 0;
	transform: scale(0.6);
	filter: invert(1);
}
.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #612d1c;
	clip-path: circle(600px at right 800px);
}
.nedir
{
	position: absolute;
	top: 93.5%;
	left: 0px;
	font-size: 0.8em;
	border-radius: 0 20px 20px 0;
	background-color: lightgrey;
	padding: 5px;
}
.nedir a
{
	text-decoration: none;
	color: red;
}
@media (max-width: 991px)
{
	header
	{
		padding: 20px;
		position: fixed;
		background-color: #fff;
	}
	header .logoimg
	{
		max-width: 90px;
		height: 70px;
	}
	header ul
	{
		position: relative;
		display: none;
	}
	section
	{
		padding: 20px;
	}
	.content
	{
		flex-direction: column;
		margin-top: 140px;
	}
	.content .textBox
{
	max-width: 100%;
}
	.content .textBox h2
	{
		font-size: 2.5em;
	}
	.content .imgBox
	{
		margin-bottom: 20px;
		widht: 100%;
	}
	.content .imgBox img
	{
		widht: 80%;
	}
	.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #612d1c;
	clip-path: circle(300px at center bottom);
}
.nedir
{
	position: absolute;
	top: 95.6%;
	left: 0px;
	font-size: 0.8em;
}
.nedir a
{
	text-decoration: none;
	color: red;

}
.sci
{
	background: #612d1c;
	right: 0;
	width: 50px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.toggle
{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(images/menu.png);
	background-size: 30px;
	background-repeat: no-repeat;
	filter: invert(1);
	z-index: 11;
}
.toggle.active
{
	position: fixed;
	background: url(images/close.png);
	background-size: 25px;
	background-repeat: no-repeat;
	filter: invert(1);
	right: 20px;
}
header ul.navigation.active
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fff;
	z-index: 10;
}
header ul li a
{
	font-size: 1.5em;
	margin: 5px 0;
}
}
@media (max-width: 550px)
{
	.content .imgBox img
	{
		margin-bottom: 20px;
		width: 80%;
	}
}
